<!DOCTYPE html>
<html lang="en">

    <%- include('header') %>
    
    <body>
    <div id="fondo">
    <div class="card panel-default" id="login" class="ventana">
        <div id="titulo"><h3> Login </h3></div>
        <hr />
        <div class="contenidoVentana">
            <form class="form-horizontal" role="form" method="POST">
                <label for="correo"></label>
                <div >
                    <input id="correo" name="email" type="email" class="form-control" placeholder="Email">
                </div>
                <label for="password" ></label>
                <div >
                    <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group botonera" align="center">
                    <button id="botonForm" type="submit" class="btn btn-primary sp1" style="margin:5px;"><span class="textPrincipal">Identificarse</span></button>
                    <a id="botonForm" class="btn btn-light sp2" href="/registro">Crear nueva cuenta</a>
                </div>
            </form>
        </div>
    </div>
    </div>
  </body>

    <%- include('footer') %>
    
</html>
